body {
    background-color: antiquewhite;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.box {
    width:80%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    word-wrap: break-word;
    background-color: white;
  }

.insidebox {
width:auto;
padding: 20px 20px;
margin: 20px 20px;
word-wrap: break-word;
background-color: white;
}
  
.center {
    margin: auto;
}