:root {
    --darkblue: #388087;
    --turquise: #6fb3b8;
    --pastelblue: #badfe7;
    --pastelgreen: #c2edce;
    --white: #f6f6f2;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--white);
}

.topnav {
    overflow: hidden;
    background-color: var(--turquise);
}

.topnav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--white);
    color: black;
}
  
.topnav a.active {
    background-color: var(--darkblue);
    color: var(--white);
}

.container {
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: #f6f6f6;
    box-shadow: 4px 10px 18px rgb(181, 181, 181);
}

.container-within {
    background-color: var(--pastelblue);
    width: 100%;
    margin: 0px 0.0%;
    margin-top: 50px;
    padding: 20px 20px;
}

.paragraph {
    width: 50%;
    margin-top: 0px;
    padding: 20px 20px;
}

.center {
    margin: 0px 25%;
}

.column {
    width: 50%;
    float: left;
}

.line {
    background-color: var(--darkblue);
    width: 30px;
    height: 3px;
}

.inlinetext {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}
.inlinetext2 {
    display: flex;
    flex-basis: auto;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.inlinetextchild {
    text-align: right;
    flex-basis: 45%;
    height: 100%;
}

.inlinetextchild2 {
    text-align: left;
    flex-basis: 45%;
    height: 100%;
}

img {
    width: 60%;
    height: 60%;
    float: right;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: var(--darkblue);
}

h2 {
    text-align: center;
    color: #333;
}